body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: #f4f4f4;
    min-height: 100vh;
}

li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    margin: 10px;
}

.title-bold {
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: #333;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    background-color: #0074d9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

header,
main,
footer {
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;
}

footer,
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 24px;
}

.form-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.form-container input {
    display: flex;
    padding: 10px;
    margin: 10px;
    width: 78%;
    font-family: Arial, sans-serif;
}

textarea {
    display: flex;
    height: auto;
    padding: 11px;
    margin: 10px;
    width: 78%;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px;
    margin: 10px;
    margin-top: 0px;
    background-color: #0074d9;
    float: inline-end;
    margin-right: 57px;
    color: white;
    border: none;
}

#task-list li {
    display: block;
    padding-left: 05px;
    padding: 20px;
}

footer {
    gap: 12px;
    background-color: #343a40;
    padding: 20px;
}

.divClass {
    position: relative;
}

.buttonClass {
    background-color: black;
    position: absolute;
    cursor: pointer;
    right: -35px;
    margin-top: -50px;
}
.buttonClass:hover{
	background-color: black;
}

#edit-dialog{
    margin-right: 230px;
    padding: 15px;
    margin-left: 80px;
}

#cancel-dialog{
    margin-right: -280px;
    padding: 15px;
}

dialog form {
    display: flex;
    flex-direction: column;
}

dialog input,
dialog textarea {
    margin: 0;
    padding-top: 20px; 
    padding: 11px;
    width: 100%;
    box-sizing: border-box;
}

dialog textarea {
    resize: vertical;
}